node_modules/
bin/
dist/
build/
public/
newman/
build/
specification/components/stu3/examples/
specification/components/r4/examples/
tests/functional/test_env/
.idea
.DS_Store
venv
.direnv
.#*

__pycache__/
.envrc
.vscode
.mypy_cache

tests/test-report.xml
tests/functional-test-report.xml
tests/sandbox-test-report.xml
.orig

.python-version
