# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the e-Referral Service API
# owned by NHS Digital (https://digital.nhs.uk/)
openapi: 3.0.0
x-nhsd-api-platform:
  meta:
    service_name: e-referrals-service-api
    short_service_name: ers
    service_base_path: referrals
    product_display_name: e-Referrals-Service
    product_description: 'The NHS e-RS vision is to enable local innovation and adoption of paperless referrals. To support this vision NHS Digital have created a set of APIs which provide a well-defined, simple to use data interface to the NHS e-Referral Service (e-RS). See https://developer.nhs.uk/apis/e-Referrals/index.html'
    pipeline_name_prefix: E-Referrals-Service
tags:
  - name: CreateReferral
info:
  version: 0.0.1
  title: e-Referrals Service
  description: |
    ## Overview
    A key aspect of the NHS e-RS vision is to enable local innovation and adoption of paperless referrals. To support this vision NHS Digital have created a set of APIs which provide a well-defined, simple to use data interface to the NHS e-Referral Service (e-RS).

    You can:

    You cannot currently use this API to:

    You can read and update the following data:

    ### Access modes



    ## Who can use this API



    ## Related APIs



    ## API status and roadmap

    ### Application-restricted access

    ### Healthcare worker access

    ### Citizen access

    ### Roadmap


    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#basic-rest).

    It also conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir) global standard for health care data exchange.
    Specifically, it is aligned with [FHIR UK Core](https://digital.nhs.uk/services/fhir-uk-core), which is built on FHIR Release 4.

    You don’t need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules.

    ## Network access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    To use this API with NHS smartcards you do need an HSCN connection, although internet-facing alternatives are available.

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and authorisation
    ### Application-restricted access
    This access mode is [application-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#application-restricted-apis),
    meaning we authenticate the calling application but not the end user.

    To use this access mode, use the following security pattern:
    * [Application-restricted RESTful API - signed JWT authentication](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/application-restricted-restful-apis-signed-jwt-authentication)

    ### Healthcare worker access
    This access mode is [user-restricted](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis),
    meaning an end user must be present, authenticated and authorised.

    The end user must be:
    - a healthcare worker
    - strongly authenticated, using either an NHS smartcard or a modern alternative
    - authorised, using [national role-based access control (RBAC)](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/national-rbac-for-developers)

    To use this access mode, use one of the following security patterns:
    * [user-restricted RESTful API - using NHS Identity - combined authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-identity-combined-authentication-and-authorisation)
    * [user-restricted RESTful API - using NHS Identity - separate authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-identity-separate-authentication-and-authorisation)

    ### Citizen access
    This access mode is not available yet. 

    ## Environments and testing

    | Environment       | Base URL                                                               |
    | ----------------- | ---------------------------------------------------------------------- |
    | Sandbox           | `https://`        |
    | Integration test  | `https://`        |
    | Production        | `https://`        |

    ### Sandbox testing
    Our [sandbox environment](https://digital.nhs.uk/developer/guides-and-documentation/testing#sandbox-testing):
    * is for early developer testing
    * only covers a limited set of scenarios
    * is stateless, so does not actually persist any updates
    * is open access, so does not allow you to test authorisation

    For details of sandbox test scenarios, or to try out the sandbox using our 'Try this API' feature, see the documentation for each endpoint.

    ### Integration testing

    ### Production smoke testing

    ## Onboarding
    You need to get your software approved by us before it can go live with this API. We call this onboarding. The onboarding process can sometimes be quite long, so it’s worth planning well ahead.



  contact:
    url: 'https://digital.nhs.uk/developer/help-and-support'
    email: api.management@nhs.net
  license:
    name: MIT
servers:
  - url: 'https://api.dev3.ers.ncrs.nhs.uk'
    description: Alpha
paths:
  /STU3/v1/ReferralRequest/$ers.createReferral:
    post:
      security:
        - bearerAuth: []
      description: |
        ## Overview
        As a Referring Clinician (/Administrator). I want to create a referral for my patient with a shortlist of services. 
        So that I can progress the care of my patient while leaving them the freedom to choose the service that best suits them.
        
        ### Response: Failure
        If an error occurs, the relating HTTP status code will be returned in the header. 
        Where status code 422 (Unprocessable Entity) is returned then an eRS-OperationOutcome-1 will be included in the body, as detailed below.
        
        | issue.details.code                 | Description                                                                                                             |
        | ---------------------------------- | ----------------------------------------------------------------------------------------------------------------------- |
        | FIELD_NOT_PERMITTED                | A referring clinician is provided when the logged in user is not an RCA; or: one of the following occurs: the distance limit is specified when the postcode is not provided, the IWT limit is specified when the priority is TWO_WEEK_WAIT or the clinic type is specified when the specialty is not provided.|
        | INAPPROPRIATE_VALUE                | The value of commissioning provisioning is ALL_SERVICES (this value is not supported), or: the intention to add a referral letter is set to NOT_INTENDING_TO_ADD when one or more of the shortlisted services has the referral letter required set to true, or the proposed shortlist contains one or more services that do not support the ‘appointment request flow’ |
        | INVALID VALUE                      | The input provided does not conform with the expected data types and format specifically documented on the FHIR OperationDefinition or on the related FHIR profiles |
        | MISSING_VALUE                      | One of the parameters described as mandatory on the FHIR OperationDefinition or on the related FHIR profiles has not been supplied |
        | NO_REG_GP_PRACTICE                 | The patient provided was found not to have a registered GP practice. The patient is not eligible to be referred via e-RS while this problem persists |
        | ORGANISATION_IS_CLOSED             | The organisation identifier supplied corresponds to an organisation that is closed |
        | ORGANISATION_NOT_APPROPRIATE       | The organisation identifier supplied corresponds to an organisation of a type other than ‘Service location’ and ‘Service providing organisation’ |
        | PATIENT_ERROR                      | There was a problem with the patient’s record in PDS. The patient is not eligible to be referred via e-RS while this problem persists |
        | REFERENCE_NOT_FOUND                | An entity referenced (e.g. the patient, the postcode, the organisation or a clinician) is not found |
        | REFERENCED_USER_IS_NOT_ACTIVE      | The SDS user provided as the referring clinician or the named clinician is found to be not active in SDS |
        | REFERENCED_USER_IS_NOT_RC          | The SDS user provided as the referring clinician does not actually have the Referring Clinician business function in e-RS |
        | REFERENCED_USER_IS_NOT_SPC         | The SDS user provided as the named clinician does not actually have the Service Provider Clinician business function in e-RS |
        | REFERENCED_USER_NOT_IN_ORG         | The referring clinician provided does not belong to the same organisation as the logged in user |
        | SHORTLISTED_SERVICE_NOT_IN_RESULTS | The service selected for the shortlist submitted does not satisfy the search criteria provided |
        | VALUE_IS_REQUIRED                  | A referring clinician is not provided when the logged in user is an RCA; or: one of the following three is not provided: the pair specialty + clinic type, the clinical term¬ or the named clinician. |
      summary: A011 Create Referral
      tags:
        - CreateReferral
      operationId: createReferralRequest
      parameters:
        - in: header
          name: X-Correlation-Id
          description: | 
            Arbitrary string value provided by API Consumer
            Tends to be unique, but doesn't have to be
            Returned, unchanged, in the response
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              $ref: 'components/schemas/CreateReferralParameters.yaml'
            example:
              $ref: 'components/examples/CreateReferralParameters.json'
      responses:
        '201':
          $ref: 'components/responses/FhirReferralRequest.yaml'
        '400':
          description: Bad Request
          content:
            application/fhir+json:
              schema:
                type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          $ref: 'components/responses/FhirOperationErrorOutcome.yaml'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT