openapi: 3.0.0
x-nhsd-api-platform:
  meta:
    service_name: e-referrals-service-api
    short_service_name: ers
    service_base_path: referrals
    product_display_name: e-Referrals-Service
    product_description: The NHS e-RS vision is to enable local innovation and adoption of
      paperless referrals. To support this vision NHS Digital have created a set
      of APIs which provide a well-defined, simple to use data interface to the
      NHS e-Referral Service (e-RS). See
      https://developer.nhs.uk/apis/e-Referrals/index.html
    pipeline_name_prefix: E-Referrals-Service
tags:
  - name: api
info:
  version: 0.0.1
  title: e-Referrals Service
  description: A key aspect of the NHS e-RS vision is to enable local innovation and
    adoption of paperless referrals. To support this vision NHS Digital have
    created a set of APIs which provide a well-defined, simple to use data
    interface to the NHS e-Referral Service (e-RS).
  contact:
    email: sd.asd@nhs.uk
  license:
    name: MIT
servers:
  - url: https://api.dev3.ers.ncrs.nhs.uk
    description: Alpha
paths:
  /v1/STU3/ReferralRequest/$ers.createReferral:
    post:
      description: As a Referring Clinician (/Administrator).
        I want to create a referral for my patient with a shortlist of services.
        So that I can progress the care of my patient while leaving them the freedom to choose the service that best suits them.
      summary: A011 Create Referral
      tags:
        - Referral
      operationId: create ReferralRequest
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
              required:
                - resourceType
                - meta
                - parameter
              properties:
                resourceType:
                  type: string
                meta:
                  type: object
                  properties:
                    profile:
                      type: array
                      items:
                        type: string
                        enum:
                          - "https://fhir.nhs.uk/STU3/StructureDefinition/eRS-CreateReferral-Parameters-1"
                parameter:
                  type: array
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/PatientParameter'
                      - $ref: '#/components/schemas/ContentSensitiveParameter'
                      - $ref: '#/components/schemas/ShortlistParameter'
                      - $ref: '#/components/schemas/FirstReminderFollowUpDaysParameter'
                      - $ref: '#/components/schemas/IntentionToAddReferralLetterParameter'
                      - $ref: '#/components/schemas/ReferringClinicianParameter'
                      - $ref: '#/components/schemas/UnaccreditedCommentParameter'
      responses:
        '201':
          $ref: '#/components/responses/ReferralRequest'
  /v1/ProfessionalSession/{token}:
    post:
      tags:
        - ProfessionalSession
      operationId: post ProfessionalSession
      responses:
        "201":               
          description: Request accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  typeInfo:
                    type: string
                  id:
                    type: string
                  token:
                    type: string
                  user:
                    type: object
                    properties:
                      identifier:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      middleName:
                        type: "string"
                      permissions:
                        type: array
                        items:
                          type: object
                          properties:
                              businessFunction:
                                type: string
                              orgIdentifier:
                                type: string
                              orgName:
                                type: string
                          required:
                            - businessFunction
                            - orgIdentifier
                            - orgName
                    required:
                      - identifier
                      - firstName
                      - lastName
                      - middleName
                      - permissions
                  permission:
                    type: "string"
                required:
                  - typeInfo
                  - id
                  - token
                  - user
                  - permission
      summary: A001 Create Professional Session
      description: As an e-RS user working in an integrated system I want to create a
        Professional Session in the Spine using my smartcard roles So that I can
        securely access e-RS functions through my integrated system
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: integer
            minimum: 1
          description: The user ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                typeInfo:
                  type: string
                token:
                  type: string
              required:
                - typeInfo
                - token
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    ReferralRequest:
      description: A referral within ers
      content:
        application/fhir+json:
          schema:
            type: object
            properties:
              id:
                type: string
              meta:
                type: object
                properties:
                  profile:
                    type: array
                    items:
                      type: string
                      enum:
                        - https://fhir.nhs.uk/STU3/StructureDefinition/eRS-ReferralRequest-1
                  versionId:
                    type: integer
                    minimum: 0
              contained:
                type: array
                nullable: true
                items:
                  anyOf:
                    - $ref: '#/components/schemas/DocumentReference'
                    - $ref: '#/components/schemas/Appointment'
                    - $ref: '#/components/schemas/Shortlist'
                    - $ref: '#/components/schemas/SearchCriteria'
              extensions:
                type: array
                nullable: true
                items:
                  anyOf:
                    - $ref: '#/components/schemas/ReferralShortlistExtension'
                    - $ref: '#/components/schemas/ReferralCommissioningOrganisationExtension'
                    - $ref: '#/components/schemas/ReferralPriorityExtension'
              status:
                type: string
                enum:
                  - active
              subject:
                type: object
                properties:
                  system:
                    type: string
                    enum:
                      - http://fhir.nhs.net/Id/nhs-number
                  value:
                    type: string
              supportingInfo:
                type: array
                nullable: true
                items:
                  type: object
                  properties:
                    reference:
                      type: string
  schemas:
    Attachment:
      title: Content in a format defined elsewhere 
        + It the Attachment has data, it SHALL have a contentType (http://hl7.org/fhir/stu3/datatypes.html#Attachment)
      properties:
        contentType:
          type: string
        url:
          type: string
        size:
          type: integer
        title:
          type: string
        creation:
          type: string
          format: date
    DocumentReference:
      title: A reference to a document (http://hl7.org/fhir/stu3/documentreference.html)
      type: object
      properties:
        type: 
          type: object
          properties:
            type:
              type: object
              properties:
                coding:
                  type: array
                  items:
                    type: object
                    properties:
                      system:
                        type: string
                        enum:
                          - https://fhir.nhs.uk/STU3/CodeSystem/eRS-AttachmentType-1
                      code: 
                        type: string
                        enum: 
                          - REFERRER
                          - PROVIDER
                          - ADVICE_REQUEST
                          - GUIDANCE_RESPONSE
                      display:
                        type: string
                        enum:
                          - Referrer
                          - Provider
                          - Advice Request
                          - Guidance Response
        status:
          type: string
          enum: 
            - CURRENT
        indexed:
          type: string
          format: date-time
        description:
          type: string
          nullable: true
        content:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'
          minItems: 0
          maxItems: 1
    ListEntry:
      title: Singular entry within a list
      type: object
      properties:
        item:
          type: object
          properties:
            reference:
              type: string
    Appointment:
      title: A booking of a healthcare event among patient(s), practitioner(s), related person(s) and/or device(s) for a specific date/time.
        This may result in one or more Encounter(s) (https://fhir.hl7.org.uk/STU3/StructureDefinition/CareConnect-Appointment-1)
      type: object
      properties:
        meta:
          type: object
          properties:
            profile:
              type: array
              items:
                type: string
                enum:
                  - https://fhir.hl7.org.uk/STU3/StructureDefinition/CareConnect-Appointment-1
        status:
          type: string
          enum:
            - PROPOSED
            - PENDING
            - BOOKED
            - ARRIVED
            - FULFILLED
            - CANCELLED
            - NOSHOW 
        description:
          type: string
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        slot:
          type: array
          items:
            type: object
            properties:
              reference:
                type: string
          minItems: 0
          maxItems: 1
        created:
          type: string
          format: date-time
        comment:
          type: string
          nullable: true
        incomingReferral:
          type: array
          nullable: true
          items:
            type: array
            items:
              type: object
              properties:
                reference:
                  type: string
          minItems: 0
          maxItems: 1
        participant:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - CON
                nullable: true
              actor:
                type: string
                format: url
          minItems: 2
          maxItems: 3
    Shortlist:
      title: A list of services representing the services available to the patient to have treatment at
      type: object
      properties:
        meta:
          type: object
          properties:
            profile:
              type: array
              items:
                type: string
                enum:
                  - "https://fhir.nhs.uk/STU3/StructureDefinition/eRS-Shortlist-List-1"
        contained:
          type: array
          items:
            $ref: '#/components/schemas/SearchCriteria'
        resourceType:
          type: string
          enum:
            - List
        entry:
          type: array
          items:
            $ref: '#/components/schemas/ListEntry' 
          minItems: 1
          maxItems: 20
    PrioritySearchCriteriaParameter:
      title: Details the priority that was detailed in a search criteria
      type: object
      properties:
        name:
            type: string
            enum: 
              - priority
            description: Set to "priority"
        valueCoding:
            type: object
            properties:
              system: 
                type: string
                enum:
                  -  https://fhir.nhs.uk/STU3/ValueSet/eRS-Priority-1
              code:
                type: string
                enum:
                  - ROUTINE
                  - URGENT
                  - TWO_WEEK_WAIT
    ClinicalTermSearchCriteriaParameter:
      title: Details the clinical term that was detailed in a search criteria
      type: object
      properties:
        name: 
          type: string
          enum:
            - clinicalTerm
          description: Set to "clinicalTerm"
        valueCoding:
          type: object
          properties:
            system:
              type: string
              enum:
                - http://snomed.info/sct
            code:
              type: string
    NamedClinicianSearchCriteriaParameter:
      title: Details the named clinician that was detailed in a search criteria
      type: object
      properties:
        name:
          type: string
          enum:
            - namedClinician
          description: Set to "namedClinician"
        valueIdentifier:
          type: object
          properties:
            system:
              type: string
              enum:
                - http://fhir.nhs.net/Id/sds-user-id
            value:
              type: string
    AgeAndGenderAppropriateSearchCriteriaParameter:
      title: Details the age and gender appropriate flag detailed in a search criteria
      type: object
      properties:
        name:
          type: string
          enum:
            - ageAndGenderAppropriate
          description: Set to "ageAndGenderAppropriate"
        valueBoolean:
          type: boolean
    CommissioningProvisioningSearchCriteriaParameter:
      title: Details the commissioning provisioning flag detailed in a search criteria
      type: object
      properties:
        name:
          type: string
          enum:
            - commissioningProvisioning
          description: Set to "commissioningProvisioning"
        valueCoding:
          type: object
          properties:
            system:
              type: string
              enum:
                - https://fhir.nhs.uk/STU3/ValueSet/eRS-CommissioningProvisioning-1
            value:
              type: string
              enum:
                - ALL_AVAILABLE_FOR_BOOKING
                - ALL_SERVICES
                - LOCALLY_COMMISSIONABLE
                - NATIONALLY_AVAILABLE
    SearchCriteria:
      title: Wraps the criteria used to search for services for a related referral
      type: object
      properties:
        id:
          type: string
        meta:
          type: object
          properties:
            profile:
              type: array
              items:
                type: string
                enum:
                  - https://fhir.nhs.uk/STU3/StructureDefinition/eRS-ServiceSearchCriteria-Parameters-1
        resourceType:
          type: string
        parameter:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/PrioritySearchCriteriaParameter'
              - $ref: '#/components/schemas/ClinicalTermSearchCriteriaParameter'
              - $ref: '#/components/schemas/NamedClinicianSearchCriteriaParameter'
              - $ref: '#/components/schemas/AgeAndGenderAppropriateSearchCriteriaParameter'
              - $ref: '#/components/schemas/CommissioningProvisioningSearchCriteriaParameter'
    ReferralPriorityExtension:
      title: Extension to supply the current priority of a ReferralRequest within eRS
      type: object
      properties:
        url:
          type: string
          description: Always "https://fhir.nhs.uk/STU3/StructureDefinition/Extension-eRS-ReferralPriority-1"
        valueCodeableConcept:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                    enum:
                      - https://fhir.nhs.uk/STU3/CodeSystem/eRS-Priority-1
                  code:
                    type: string
                    enum:
                      - ROUTINE
                      - URGENT
                      - TWO_WEEK_WAIT
    ReferralCommissioningOrganisationExtension:
      title: Extension to supply the organisation any commissioning rules should utilise for a referral
      type: object
      properties:
        url:
          type: string
          description: Always "https://fhir.nhs.uk/STU3/StructureDefinition/Extension-eRS-Commissioning-Rule-Org-1"
        valueIdentifier:
          type: object
          properties:
            system:
             type: string
             enum:
              - https://fhir.nhs.uk/Id/ods-organization-code
    ReferralShortlistExtension:
      title: Extension to supply the current shortlist for a ReferralRequest
      type: object
      properties:
        url:
          type: string
          description: Always "https://fhir.nhs.uk/STU3/StructureDefinition/Extension-eRS-ReferralShortlist-1"
        valueReference:
          type: object
          properties:
            reference:
              type: string
    PatientParameter:
      title: Parameter to supply a patient
      type: object
      properties:
        name:
          type: string
          enum:
            - patient
        valueIdentifier:
          type: object
          properties:
            system:
              type: string
              enum:
                - http://fhir.nhs.net/Id/nhs-number
            value:
              type: string
    ReferringClinicianParameter:
      title: Parameter to supply a referring clinician
      type: object
      properties:
        name:
          type: string
          enum:
            - referringClinician
        valueIdentifier:
          type: object
          properties:
            system:
              type: string
              enum:
                - http://fhir.nhs.net/Id/sds-user-id
            value:
              type: string
    ContentSensitiveParameter:
      title: Parameter to supply a content sensitive flag
      type: object
      properties:
        name:
          type: string
          enum:
            - contentSensitive
        valueBoolean:
          type: boolean
    ShortlistParameter:
      title: Parameter to supply a shortlist
      type: object
      properties:
        name:
          type: string
          enum:
            - shortlist
        reference:
          type: object
          properties:
            reference:
              type: string
    UnaccreditedCommentParameter:
      title: Parameter to supply a unaccredited comment
      type: object
      properties:
        name:
          type: string
          enum:
            - unaccreditedComment
          description: Always "unaccreditedComment"
        valueString:
          type: string
    FirstReminderFollowUpDaysParameter:
      title: Parameter to supply the first reminder follow up days
      type: object
      properties:
        name:
          type: string
          enum:
            - firstReminderFollowUpDays
          description: Always "firstReminderFollowUpDays"
        valueUnsignedInt:
          type: integer
          minimum: 0
          format: int32
    IntentionToAddReferralLetterParameter:
      title: Parameter to supply the intention to add referral letter flag
      type: object
      properties:
        name:
          type: string
          enum:
            - intentionToAddReferralLetter
          description: Always "intentionToAddReferralLetter"
        valueCoding:
          type: object
          properties:
            system:
              type: string
              enum:
                - https://fhir.nhs.uk/STU3/ValueSet/eRS-ReferralLetterIntention 
            code:
              type: string
              enum:
                - NEED_TO_ADD_LATER
                - NOT_INTENDING_TO_ADD