openapi: 3.0.0
info:
  title: e-Referrals Service
  description: A key aspect of the NHS e-RS vision is to enable local innovation and
    adoption of paperless referrals. To support this vision NHS Digital have created
    a set of APIs which provide a well-defined, simple to use data interface to the
    NHS e-Referral Service (e-RS).
  contact:
    email: sd.asd@nhs.uk
  license:
    name: MIT
  version: 0.0.1
servers:
- url: https://api.dev3.ers.ncrs.nhs.uk/
  description: Alpha
tags:
- name: api
paths:
  /v1/ProfessionalSession:
    post:
      summary: A001 Create Professional Session
      description: As an e-RS user working in an integrated system I want to create
        a Professional Session in the Spine using my smartcard roles So that I can
        securely access e-RS functions through my integrated system
      operationId: v1ProfessionalSessionPOST
      parameters:
      - name: XAPI_ASID
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: token
        in: path
        description: The user ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
        required: true
      responses:
        "201":
          description: Request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
      x-swagger-router-controller: Default
components:
  schemas:
    body:
      required:
      - token
      - typeInfo
      type: object
      properties:
        typeInfo:
          type: string
        token:
          type: string
    inline_response_201:
      required:
      - id
      - permission
      - token
      - typeInfo
      - user
      type: object
      properties:
        typeInfo:
          type: string
        id:
          type: string
        token:
          type: string
        user:
          required:
          - firstName
          - identifier
          - lastName
          - middleName
          - permissions
          type: object
          properties:
            identifier:
              type: string
            firstName:
              type: string
            lastName:
              type: string
            middleName:
              type: "null"
            permissions:
              type: array
          example:
            identifier: identifier
            firstName: firstName
            lastName: lastName
            permissions: ""
            middleName: ""
        permission:
          type: "null"
      example:
        typeInfo: typeInfo
        permission: ""
        id: id
        user:
          identifier: identifier
          firstName: firstName
          lastName: lastName
          permissions: ""
          middleName: ""
        token: token
x-nhsd-api-platform:
  meta:
    service_name: e-referrals-service-api
    short_service_name: ers
    service_base_path: referrals
    product_display_name: e-Referrals-Service
    product_description: The NHS e-RS vision is to enable local innovation and adoption
      of paperless referrals. To support this vision NHS Digital have created a set
      of APIs which provide a well-defined, simple to use data interface to the NHS
      e-Referral Service (e-RS). See https://developer.nhs.uk/apis/e-Referrals/index.html
    pipeline_name_prefix: E-Referrals-Service
